<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="style_main.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="icomoon/style.css">
</head>

<body>
    <div class="container">
        <div class="slider padding-site">
            <div class="header clearfix"><a href="#"><img class="logo" src="img/logo.svg" alt="logo"></a>
                <ul class="menu clearfix">
                    <li class="menu-list">
                    <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                    <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="/contacts" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider-text">
                <p class="slider-trending">TRENDING</p>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">ORDER US ></a>
            </div>
            <div class="pagination">
                <a href="" class="circle"></a>
                <a href="" class="circle circle-active"></a>
                <a href="" class="circle"></a>
            </div>
        </div>
        <div class="catalog padding-site">
            <div class="catalog-header clearfix">
                <ul class="catalog-menu">
                    <li class="catalog-menu-list "><a href="#" class="catalog-menu-link catalog-menu-link-active ">Featured</a></li>
                    <li class="catalog-menu-list"><a href="#" class="catalog-menu-link">New</a></li>
                </ul>
                <a href="#" class="all-explore">Explore all</a>
            </div>
            <ul class="catalog-items">
                <li class="item-list">
                    <img src="img/product-1.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Fishnet Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam. </p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-2.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Blue Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-3.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Goofy Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-4.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Red Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="promo-product">
            <div class="promo-item">
                <img src="img/promo-img1.jpg" alt="">
                <div class="promo-content">
                    <p class="promo-exclisive">exclusive</p>
                    <h3 class="promo-h3">Fishnet Chair</h3>
                    <p class="promo-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt </p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
            </div>
            <div class="promo-item">

                <img src="img/promo-img.png" alt="">
                <div class="promo-content">
                    <p class="promo-exclisive">exclusive</p>
                    <h3 class="promo-h3">Fishnet Chair</h3>
                    <p class="promo-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt </p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
            </div>
        </div>
        <div class="trending-products padding-site">
            <div class="trending-header clearfix">
                <h3 class="trending-h3">Trending Products</h3>
                <a href="" class="all-explore">explore all</a>
            </div>
            <ul class="trending-list">
                <li class="item-list">
                    <img src="img/product-11.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Vulkan Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-21.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">White Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-31.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Black Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-41.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Black Sconce</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-5.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Black Mortar</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-6.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Beige Vase</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="hot-deals">
            <div class="hot-deals-slider padding-site">
                <div class="slider-text">
                    <p class="slider-trending">Hot Deal</p>
                    <h2 class="slider-h2">Fishnet Chair</h2>
                    <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
                <div class="pagination">
                    <a href="" class="circle"></a>
                    <a href="" class="circle circle-active"></a>
                    <a href="" class="circle"></a>
                </div>
            </div>

        </div>
        <div class="exclusive-products padding-site cleafix">
            <div class="promo-item">
                <img src="img/product-1-lg.jpg" alt="">
                <div class="promo-content">
                    <p class="promo-exclisive">exclusive</p>
                    <h3 class="promo-h3">Fishnet Chair</h3>
                    <p class="promo-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt </p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
            </div>
            <ul class="catalog-items">
                <li class="item-list">
                    <img src="img/product-2-sm.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Spider Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam.</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-3-sm.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Little sofa</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-4-sm.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Beton Clock</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-5-sm.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Неведомая хрень</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mobile padding-site">
            <p class="mobile-app">mobile app</p>
            <h2 class="slider-h2">Find. Follow. Favorite.</h2>
            <p class="mobile-text">Save your favorites and share your style.</p>
            <div>
                <a href="" class="img-link"><img src="img/app-store.png" alt=""></a>
                <a href="" class="img-link"><img src="img/google-play.png" alt=""></a>
            </div>
        </div>
        <footer class="padding-site">
            <table>
                <tr>
                    <th>Contact Us</th>
                    <th>Useful Information</th>
                    <th>Let’s Stay in Touch!</th>
                </tr>
                <tr>
                    <td>
                        <p class="contacts">132A Bridge Road Richmond VIC Australia.<br><br>
                            Talk to us on 1300 132<br>
                            info@interior.com</p>
                    </td>
                    <td>
                        <div class="info">
                            <ul class="info-list">
                                <li><a href="" class="info-link">Sales terms</a></li>
                                <li><a href="" class="info-link">Customer care</a></li>
                                <li><a href="" class="info-link">Delivery</a></li>
                            </ul>
                            <ul class="info-list">
                                <li><a href="" class="info-link">Architect accounts</a></li>
                                <li><a href="" class="info-link">Careers</a></li>
                                <li><a href="" class="info-link">Exchanges & returns</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <form action="">
                            <input type="text" placeholder="your email address">
                            <button type="submit"><img src="img/%EF%8D%A0.png" alt=""></button>
                        </form>
                    </td>
                </tr>
            </table>

<div class="privacy clearfix">
            <p class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</p>

            <img class="social-links" src="img/social-links.png" alt="">

            <p class="privacy-info">Terms & Conditions / Privacy policy & Cookies</p>


</div>
        </footer>
    </div>
</body></html>
