<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="icomoon/style.css">
</head>

<body>
    <div class="container">

        <div class="header clearfix padding-site"><a href="index.html">
                <img class="logo" src="img/logo.svg" alt="logo"></a>
              <ul class="menu clearfix">
                    <li class="menu-list">
                    <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                    <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="/contacts" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="search"></a></li>
                </ul>
        </div>
        <ul class="product-menu">
                <li class="filter-list"><a href="#" class="filter-link filter-link-active ">All</a></li>
                <li class="filter-list"><a href="#" class="filter-link">Home</a></li>
                <li class="filter-list"><a href="#" class="filter-link">Office</a></li>
                <li class="filter-list"><a href="#" class="filter-link">Furniture</a></li>
                <li class="filter-list"><a href="#" class="filter-link">Modern</a></li>
                <li class="filter-list"><a href="#" class="filter-link">Classic</a></li>
        </ul>
        <section class="product-detail padding-site">

            <div class="detail">
               <div class="product-img">
                   <a href="img/product1.jpg" target="_blank">
                   <img src="img/product1.jpg" alt="big chair">
                   </a>
                   <div class="prod-preview">
                       <a href="" class="prod-view"><img src="img/layers1.jpg" alt="chair"></a>
                       <a href="" class="prod-view"><img src="img/layers2.jpg" alt="chair"></a>
                       <a href="" class="prod-view"><img src="img/layers3.jpg" alt="chair"></a>
                   </div>
               </div>
  
               <div class="desk">
                <h2>Fishnet Chair</h2>
                <h3>Hot deal</h3>
                <p class="cost">$  <span>36.7</span> /sq</p>
                <a href="#" class="detail-button">Order Us ></a>
                <div class="detail-text">
                    <p>The majesty of Mountains - Ugmonk style.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    <p>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
                </div>
            </div>
            <section class="clearfix"></section>
             <div class="trending-products">
            <div class="trending-header">
                <h3 class="trending-h3">Related Products</h3>
                <a href="" class="all-explore">explore all</a>
            </div>
            <section class="clearfix"></section>
            <ul class="trending-list">
                <li class="item-list">
                    <img src="img/product-11.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Vulkan Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-21.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">White Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-31.jpg" alt="">
                    <div class="item-hover">
                        <a href="" class="round-button">></a>
                        <h4 class="item-h4">Black Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>

            </ul>
        </div>
        </section>
        <footer class="padding-site">
            <table>
                <tr>
                    <th>Contact Us</th>
                    <th>Useful Information</th>
                    <th>Let’s Stay in Touch!</th>
                </tr>
                <tr>
                    <td>
                        <p class="contacts">132A Bridge Road Richmond VIC Australia.<br><br>
                            Talk to us on 1300 132<br>
                            info@interior.com</p>
                    </td>
                    <td>
                        <div class="info">
                            <ul class="info-list">
                                <li><a href="#" class="info-link">Sales terms</a></li>
                                <li><a href="#" class="info-link">Customer care</a></li>
                                <li><a href="#" class="info-link">Delivery</a></li>
                            </ul>
                            <ul class="info-list">
                                <li><a href="#" class="info-link">Architect accounts</a></li>
                                <li><a href="#" class="info-link">Careers</a></li>
                                <li><a href="#" class="info-link">Exchanges & returns</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <form action="">
                            <input type="text" placeholder="your email address">
                            <button type="submit"><img src="img/%EF%8D%A0.png" alt=""></button>
                        </form>
                    </td>
                </tr>
            </table>

            <div class="privacy clearfix">
                <p class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</p>

                <img class="social-links" src="img/social-links.png" alt="">

                <p class="privacy-info">Terms & Conditions / Privacy policy & Cookies</p>


            </div>
        </footer>
    </div>
</body></html>
