<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="icomoon/style.css">   
</head>

<body>
    <div class="container">
        <header class="padding-site">
            <div class="header clearfix"><a href="index.html">
                    <img class="logo" src="img/logo.svg" alt="logo"></a>
               <ul class="menu clearfix">
                    <li class="menu-list">
                    <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                    <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="/contacts" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="search"></a></li>
                </ul>
                <p id="title">Our Products Range</p>
            </div>
        </header>
        <section class="trending-products padding-site">
            <ul class="catalog-menu">
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link catalog-filter-link-active ">All</a></li>
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link">Home</a></li>
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link">Office</a></li>
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link">Furniture</a></li>
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link">Modern</a></li>
                <li class="catalog-filter-list"><a href="#" class="catalog-filter-link">Classic</a></li>
            </ul>
            <section class="clearfix"></section>
            <ul class="trending-list">
                <li class="item-list">
                    <img src="img/product-11.jpg" alt="">
                    <div class="item-hover">
                        <a href="/detail/" class="round-button">></a>
                        <h4 class="item-h4">Vulkan Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-21.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">White Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-31.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-41.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Sconce</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-5.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Mortar</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-6.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Beige Vase</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-11.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Vulkan Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-21.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">White Chair</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-31.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Lamp</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-41.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Sconce</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-5.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Black Mortar</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li class="item-list">
                    <img src="img/product-6.jpg" alt="">
                    <div class="item-hover">
                        <a href="#" class="round-button">></a>
                        <h4 class="item-h4">Beige Vase</h4>
                        <p class="item-content">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
            </ul>
            <div class="refresh"></div>

        </section>
        <section class="promo-product">
            <div class="promo-item">
                <img src="img/promo-img1.jpg" alt="">
                <div class="promo-content">
                    <p class="promo-exclisive">exclusive</p>
                    <h3 class="promo-h3">Fishnet Chair</h3>
                    <p class="promo-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt </p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
            </div>
            <div class="promo-item">

                <img src="img/promo-img.png" alt="">
                <div class="promo-content">
                    <p class="promo-exclisive">exclusive</p>
                    <h3 class="promo-h3">Fishnet Chair</h3>
                    <p class="promo-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt </p>
                    <a href="#" class="button">ORDER US ></a>
                </div>
            </div>
        </section>
        <footer class="padding-site">
            <table>
                <tr>
                    <th>Contact Us</th>
                    <th>Useful Information</th>
                    <th>Let’s Stay in Touch!</th>
                </tr>
                <tr>
                    <td>
                        <p class="contacts">132A Bridge Road Richmond VIC Australia.<br><br>
                            Talk to us on 1300 132<br>
                            info@interior.com</p>
                    </td>
                    <td>
                        <div class="info">
                            <ul class="info-list">
                                <li><a href="#" class="info-link">Sales terms</a></li>
                                <li><a href="#" class="info-link">Customer care</a></li>
                                <li><a href="#" class="info-link">Delivery</a></li>
                            </ul>
                            <ul class="info-list">
                                <li><a href="#" class="info-link">Architect accounts</a></li>
                                <li><a href="#" class="info-link">Careers</a></li>
                                <li><a href="#" class="info-link">Exchanges & returns</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <form action="">
                            <input type="text" placeholder="your email address">
                            <button type="submit"><img src="img/%EF%8D%A0.png" alt=""></button>
                        </form>
                    </td>
                </tr>
            </table>

            <div class="privacy clearfix">
                <p class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</p>

                <img class="social-links" src="img/social-links.png" alt="">

                <p class="privacy-info">Terms & Conditions / Privacy policy & Cookies</p>


            </div>
        </footer>
    </div>
</body></html>
